.containerMenu{
    background-color: #007bff;
    width: auto;
    height:100vh;/* preenche todo o restante da tela 100vh */
    padding-top: 10%;
}

.contentMenu{
    width: 60%;
    height: 80%;
    padding-bottom: 5%;
    align-content: flex;
    background-color: white;
    border-style: outset;
    border-width: 0.5;
    border-color: #d0d0d0 ;
    text-decoration: none;
}

#buttonUpMenuLeft{
    height: 150px;
    width: 300px;
    margin-top: 10%;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;/* font bold */
    font-size: 24pt;
}

#buttonUpMenuRight{
    height: 150px;
    width: 300px;
    margin-top: 10%;
    margin-left: 5%;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;/* font bold */
    font-size: 24pt;
}

#buttonDownMenuLeft{
    height: 150px;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 3%;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;/* font bold */
    font-size: 24pt;
}

#buttonDownMenuRight{
    height: 150px;
    width: 300px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;/* font bold */
    font-size: 24pt;
}

.linkMenu{
    text-decoration: none;
    color: inherit;
}