.frameTabs{
    width: auto;
}

#buttonSendSearchClass{
    margin-left: 1%;
    margin-top: 1%;
    width: 5%;
    height: 3%;
}

.content-body-SearchClass{
    background-color: white; 
    width: 70%;
    height: 80%;
    margin-left: 15%;
    margin-top: 5%;
    padding-bottom: 5%;
    align-content: flex;
    border-style: outset;
    border-width: 0.5;
    border-color: #d0d0d0;
}

.bodySearchClass{
    width: auto;
    height: auto;
}

.backGroundFrameFormSearchClass{
    background-color:#f4f4f4 ;
    align-content: flex;
    border-style: outset;
    border-width: 0.5;
    border-color: #d0d0d0;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    padding-bottom: 8%;
}

.titleSearchClass{
    font-size: 32pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.content-body-FirstSearchClass{
    margin-left: auto;
    margin-top: 5%;   
}

.formFirstSearchClass{
    margin-left: 10.5%;
    margin-top: 5%;   
}
.fieldLabelSearchClass{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: 14pt;
    border-radius: "5px";
    margin-bottom: 2.5%;
    width: 27%;
}

#chooseTeamSearchClass{
    width: 27%;
    border-radius: "5px";
    margin-bottom: 2.5%;
    margin-right: 4%;
}

#responsibilityTeamSearchClass{
    width: 27%;
    border-radius: "5px";
    margin-bottom: 2.5%;
    margin-right: 4%;
}

.linkSearch{
    text-decoration: none;
    color: inherit;
}